---
layout: base.njk
---
<section id="intro">
  <div class="container">
    <img src="/assets/images/project-banner.png" alt="" />
    <p>
    Apart from it's regularly scheduled classes, Jhargram Art Academy also does other forms
    of projects, activities and events adjacent to the world of art, creativity, culture and
    nature. Jhargram Art Academy has been doing annual art exhibitions and festival with the
    paintings and craft works of all it's students while also giving a platform for all rural
    artisans of West Bengal to show their crafts.
    </p>
  </div>
  <div class="separator separator-class"></div>
</section>
<section id="classes">
  <h2>Things we do</h2>
  <div class="container">
    <h3>Painting class</h3>
    <div class="flex">
      <div class="image-container">
        <img src="/assets/images/art.jpeg" alt="" />
      </div>
      <div class="text-container">
        <p>
        Jhargram Art Academy has 3 particular divisions when it comes to classes - Painting,
        Dance and Art. All of the classes are available for all different age groups. We also
        have annual Summer Camps for everyone where variety of workshops are held from the
        numerous strands of art, painting and dance. There is an annual exhibition where all
        the students of the institute submit their paintings to showcase to the rest of the
        world. We also make puppet theatrical productions every once in a while, and perform
        across West Bengal and adjacent states in India. We also take on variety of other
        different projects from building sets to organizing cultural events. 
        </p>
        <a href="/classes/painting" class="cta-link" aria-lavel="Read more about painting class">Read more</a>
      </div>
    </div>
  </div>
  <div class="container">
    <h3>Dance class</h3>
    <div class="flex">
      <div class="image-container">
        <img src="/assets/images/dance.jpeg" alt="" />
      </div>
      <div class="text-container">
        <p>
        Jhargram Art Academy has 3 particular divisions when it comes to classes - Painting,
        Dance and Art. All of the classes are available for all different age groups. We also
        have annual Summer Camps for everyone where variety of workshops are held from the
        numerous strands of art, painting and dance. There is an annual exhibition where all
        the students of the institute submit their paintings to showcase to the rest of the
        world. We also make puppet theatrical productions every once in a while, and perform
        across West Bengal and adjacent states in India. We also take on variety of other
        different projects from building sets to organizing cultural events. 
        </p>
        <a href="/classes/dance" class="cta-link" aria-lavel="Read more about dance class">Read more</a>
      </div>
    </div>
  </div>
  <div class="container">
    <h3>Craft class</h3>
    <div class="flex">
      <div class="image-container">
        <img src="/assets/images/craft.jpeg" alt="" />
      </div>
      <div class="text-container">
        <p>
        Jhargram Art Academy has 3 particular divisions when it comes to classes - Painting,
        Dance and Art. All of the classes are available for all different age groups. We also
        have annual Summer Camps for everyone where variety of workshops are held from the
        numerous strands of art, painting and dance. There is an annual exhibition where all
        the students of the institute submit their paintings to showcase to the rest of the
        world. We also make puppet theatrical productions every once in a while, and perform
        across West Bengal and adjacent states in India. We also take on variety of other
        different projects from building sets to organizing cultural events. 
        </p>
        <a href="/classes/craft" class="cta-link" aria-lavel="Read more about craft class">Read more</a>
      </div>
    </div>
  </div>
</section>
