---
layout: page.njk
title: Ramkinkar Gallery
---

<p>
  In the year 2007, a gallery was opened in remembrance of the great artist Shri Ramkinkar Baij. This gallery
  exhibits copies of some of Ramkinkar Baij's original paintings. It has a pictoral representation of Ramkinkar
  Baij's life. It is one of the very few galleries on Ramkinkar Baij.
</p>
