---
layout: base.njk
---
<section id="ramkinkar-mancha">
  <h2>Galleries</h2>
  <div class="container flex flex-reverse">
    <div class="text-container">
      <h3>Ramkinkar Gallery</h3>
      <p>
        In the year 2007, a gallery was opened in remembrance of the great artist Shri Ramkinkar Baij. This gallery
        exhibits copies of some of Ramkinkar Baij's original paintings. It has a pictoral representation of Ramkinkar
        Baij's life. It is one of the very few galleries on Ramkinkar Baij.
      </p>
    </div>
    <div class="image-container">
      <img />
    </div>
  </div>
</section>