---
layout: base.njk
---
<section id="hero">
  <h1 id="title" class="title">Jhargram Art Academy</h1>
  <p class="subheading">
    A place where art and nature comes together leaving you with a sense of joy and harmony
  </p>
  <div class="flex cta-container">
    <a href="" class="primary-btn">YouTube videos</a>
    <a href="" class="primary-btn">Follow on Facebook</a>
    <a href="" class="primary-btn">Send Email</a>
  </div>
</section>
<section id="about">
  <h2>About</h2>
  <div class="container flex">
    <div class="image-container">
      <img src="assets/images/image1.png" alt="" />
    </div>
    <div class="text-container">
      <p>
        Jhargram Art Academy has 3 particular divisions when it comes to classes - Painting,
        Dance and Art. All of the classes are available for all different age groups. We also
        have annual Summer Camps for everyone where variety of workshops are held from the
        numerous strands of art, painting and dance. There is an annual exhibition where all
        the students of the institute submit their paintings to showcase to the rest of the
        world. We also make puppet theatrical productions every once in a while, and perform
        across West Bengal and adjacent states in India. We also take on variety of other
        different projects from building sets to organizing cultural events. 
      </p>
      <a href="/about" class="cta-link">Read more about how we started</a>
    </div>
  </div>
  <div class="separator separator-about"></div>
</section>
<section id="events">
  <h2>Recent Updates</h2>
  <div class="container updates-container">
    <div class="text-container">
      <h3>Rong Mati Manush 2022</h3>
      <img src="/assets/images/rongmatimanush-2022.png" alt="Banner for Rong Mati Manush 2022, the annual art exhibition." />
      <p>
        Jhargram Art Academy has been organising its annual exhibition
        and fair, Rong Mati Manush since the year 1990. This year's exhibition is dedicated
        to all the front line workers people who have been fighting against Covid-19,
        slowly leading the world out of the darkness towards the light.
      </p>
    </div>
  </div>
</section>
<section id="things-we-do">
  <ul class="rect-items flex">
    <li class="item">
      <h3>Art</h3>
      <p>Some random stuff</p>
    </li>
    <li class="item">
      <h3>Dance</h3>
      <p>Some random stuff</p>
    </li>
    <li class="item">
      <h3>Puppet</h3>
      <p>Some random stuff</p>
    </li>
  </ul>
</section>
