---
layout: base.njk
---
<section id="about">
  <div class="container">
    <img src="/assets/images/class-banner.png" alt="" />
    <p>
    Jhargram Art Academy has 3 particular divisions when it comes to classes - Painting,
    Dance and Art. All of the classes are available for all different age groups. We also
    have annual Summer Camps for everyone where variety of workshops are held from the
    numerous strands of art, painting and dance. There is an annual exhibition where all
    the students of the institute submit their paintings to showcase to the rest of the
    world. We also make puppet theatrical productions every once in a while, and perform
    across West Bengal and adjacent states in India. We also take on variety of other
    different projects from building sets to organizing cultural events. 
    </p>
  </div>
</section>