/* Variables */
:root {
  --bg-color: #f7fff7;
  --brown: #B96627;
  --dark-green: #1a535c;
  --green: #4ecdc4;
  --red: #ff6b6b;
  --yellow: #ffe66d;
  --text-color: #140901;
}


/* Base */
* {
  box-sizing: border-box;
  margin: 0;
}

html {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
  font-family: 'Helvetica', sans-serif;
  line-height: 1.6;
  margin: 0 auto;
  background-color: var(--bg-color);
  color: var(--text-color);
}

@media (min-width: 768px) {
  body {
    font-size: 1.9rem;
    line-height: 1.8;
  }
}

.skiplink {
  position: absolute;
  top: 8px;
  left: 8px;
  background: #000;
  padding: 1.5rem 2rem 1.2rem;
  border: 5px solid #000;
  font-weight: 700;
  line-height: 1;
}

.skiplink:not(:focus) {
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}

section {
  padding: 5rem 1.6rem;
}

section h2,
section h1 {
  text-align: center;
  font-size: 3.5rem;
}

section .container {
  max-width: 1280px;
  margin: auto;
}

ul {
  padding: 0;
}

ul li {
  list-style: none;
}

nav {
  background-color: var(--green);
  border-bottom: 4px solid var(--dark-green);
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem 0;
}

nav > a > img {
  max-width: 50px;
}

nav > .logo-container {
  display: block;
  text-align: center;
}

nav ul {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  padding: 0.75rem 0;
}

nav ul li {
  margin: 0 1.5rem;
}

nav ul li a {
  color: #000;
  text-decoration: none;
  font-weight: 600;
}

img {
  max-width: 100%;
}

svg.shape {
  display: none;
}

.text-container > p {
  margin: 2rem 0;
}

.image-container {
  text-align: center;
}

/* Separators */
.separator {
  width: 100vw;
  height: 5rem;
  margin-left: -1.6rem;
  position: absolute;
}
.separator-about {
  transform: skewY(-6deg);
  background-color: var(--bg-color);
  transform-origin: top right;
}
.separator-event {
  height: 3rem;
  margin-top: 5rem;
  background: linear-gradient(to left, rgba(78, 205, 196, 0.6) 0%,rgba(78, 205, 196, 0) 100%);
  border-bottom-left-radius: 50% 70%;
  border-bottom-right-radius: 50% 70%;
}

/* Hero Section */
section#hero {
  background-image: url(../images/bg.png);
  background-size: cover;
  background-position-x: center;
  padding-top: 1px;
}

h1.title {
  font-family: 'Catamaran', sans-serif;
  font-size: 5.5rem;
  line-height: 1.1;
  text-align: center;
  text-shadow: 3px 1px 3px var(--brown);
  margin-top: 5rem;
}

p.subheading {
  font-size: 1.8rem;
  line-height: 1.2;
  font-weight: 600;
  text-align: center;
  max-width: 90rem;
  margin: 3rem auto;
}

a.primary-btn {
  display: inline-block;
  padding: 1.2rem;
  font-size: 1.8rem;
  font-weight: bold;
  border-radius: 4px;
  background: var(--green);
  color: #000;
  border: 5px solid var(--dark-green);
  text-decoration: none;
}

a.primary-btn:hover {
  text-decoration: underline;
}

.cta-container {
  justify-content: center;
  margin: 2rem 0;
  gap: 2rem;
}

.cta-container a.primary-btn {
  margin: 1rem 0;
  width: 100%;
  max-width: 350px;
  text-align: center;
}

/* Things we do section */
section#things-we-do {
  padding: 0;
}

.rect-items li.item {
  flex: 1;
  padding: 3rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--yellow);
  border-top: 5px solid var(--brown);
}

/* About section */
section#about .image-container,
section#about .text-container {
  flex: 1
}

/* Event section */
section#events {
  background: linear-gradient(to left, rgba(78, 205, 196, 0.6) 0%,rgba(78, 205, 196, 0) 100%);
  padding-top: 6rem;
}

section#events .container {
  margin: 2.4rem auto;
}

/* Ramkinkar section */
section#ramkinkar-mancha {
  padding-top: 7.5rem;
}

section#ramkinkar-mancha .container {
  margin: 2.4rem auto;
}

/* Responsive */

@media (min-width: 768px) {
  svg.shape {
    position: absolute;
    width: 100%;
    height: auto;
  }

  .flex {
    display: flex;
  }

  h1.title {
    font-size: 9rem;
    margin-top: 15rem;
  }
  p.subheading {
    font-size: 4.8rem;
  }

  section h2,
  section h1 {
    font-size: 4.8rem;
  }

  .separator {
    display: none;
  }

  section#hero {
    padding-bottom: 12rem;
  }

  .rect-items li.item {
    border: 5px solid var(--brown);
  }

  nav > a > img {
    max-width: 70px;
  }
}
