/* Variables */
:root {
  --bg-color: #f7fff7;
  --brown: #B96627;
  --dark-green: #1a535c;
  --green: #4ecdc4;
  --red: #ff6b6b;
  --yellow: #ffe66d;
  --text-color: #140901;
}


/* Base */
* {
  box-sizing: border-box;
  margin: 0;
}

html {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
  font-family: sans-serif;
  line-height: 1.6;
  margin: 0 auto;
  background-color: var(--bg-color);
  color: var(--text-color);
}

@media (min-width: 768px) {
  body {
    font-size: 1.9rem;
    line-height: 1.8;
  }
}

.skiplink {
  position: absolute;
  top: 8px;
  left: 8px;
  background: #000;
  padding: 1.5rem 2rem 1.2rem;
  border: 5px solid #000;
  font-weight: 700;
  line-height: 1;
}

.skiplink:not(:focus) {
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}

section {
  padding: 5rem 0;
}

section h2 {
  text-align: center;
  font-size: 4.8rem;
}

section .container {
  max-width: 1280px;
  margin: auto;
}

ul {
  padding: 0;
}

ul li {
  list-style: none;
}

nav {
  background-color: var(--dark-green);
}

nav ul {
  display: flex;
  justify-content: flex-end;
  padding: 3rem 5rem;
}

nav ul li {
  margin: 0 2rem;
}

nav ul li a {
  color: #FFF;
  text-decoration: none;
}

svg.shape {
  display: none;
}

.text-container > p {
  margin: 5rem 0;
}

.image-container {
  text-align: center;
}

/* Hero Section */
section#hero {
  background-image: url(../images/bg.png);
  background-size: cover;
  padding-top: 1px;
}

h1.title {
  font-family: 'Catamaran', sans-serif;
  font-size: 9.6rem;
  text-align: center;
  text-shadow: 3px 1px 3px var(--brown);
  margin-top: 10rem;
}

p.subheading {
  font-size: 4.8rem;
  line-height: 1.2;
  font-weight: 600;
  text-align: center;
  max-width: 90rem;
  margin: 3rem auto;
}

a.primary-btn {
  padding: 1.6rem;
  font-size: 2.4rem;
  font-weight: bold;
  border-radius: 4px;
  background: var(--green);
  color: #000;
  border: 5px solid var(--dark-green);
  text-decoration: none;
}

a.cta-link {

}

.cta-container {
  justify-content: center;
  margin: 10rem 0;
}

.cta-container a.primary-btn {
  margin: 4rem;
}

/* Things we do section */
section#things-we-do {
  padding: 0;
}

.rect-items li.item {
  flex: 1;
  padding: 3rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--yellow);
  border: 5px solid var(--brown);
}

/* About section */


/* Event section */
section#events {
  background: linear-gradient(to left, rgba(78, 205, 196, 1) 0%,rgba(78, 205, 196, 0) 100%);
  padding-top: 25rem;
}

/* Ramkinkar section */
section#ramkinkar-mancha {
  padding-top: 25rem;
}


/* Responsive */

@media (min-width: 768px) {
  svg.shape {
    position: absolute;
    width: 100%;
    height: auto;
  }

  .flex {
    display: flex;
  }
}
