---
layout: base.njk
---
<h1 class="sr-only" id="title">Puppets</h1>
<section id="intro">
  <div class="container">
    <img src="/assets/images/puppet.jpeg" alt="" />
    <p>
    Today for about 30 years we have been doing works in the field of puppet. The journey had
    started with a puppet production named Buddhiman Khorgos. In this journey, we have incorporated
    muppet as a part of our puppet productions to enhance the magical and awestrucking character
    of our productions. We have been continuously trying to provide happiness and moral teachings
    through our puppet show in West Bengal and in various other states of India as well. We have
    always tried to be innovative and new in creation and desining of puppet and other related works
    of the puppet productions.
    </p>
  </div>
  <div class="separator separator-class"></div>
</section>
<section id="classes">
  <h2>Our puppet projects</h2>
  <div class="container list-container">
    <ul>
      <li>Buddhiman Khorgos[The Wise Rabbit]</li>
      <li>Ondhokar[Darkness]</li>
      <li>Kabuliwala</li>
      <li>Khude Borof Manush[The Small Iceman]</li>
      <li>Abol Tabol</li>
      <li>Ektai Bol[Unity is Strength]</li>
      <li>Bajao Basi[Play the Flute]</li>
      <li>Kotha Kironmala</li>
      <li>Kabuliwala</li>
      <li>Dak Die Ja</li>
      <li>Tota Kahini</li>
      <li>Sri Chaitanyalila</li>
      <li>Tun Tuna Tun Tun</li>
    </ul>
  </div>
</section>
<section id="classes">
  <h2>Work done for other performers</h2>
  <div class="container list-container">
    <ul>
      <li>6th Commonwealth Volleyball Championship</li>
      <li>Calcutta Choir</li>
      <li>Dona Ganguly</li>
      <li>Kohinoor Sen Barat - Bharat Utsav in America</li>
    </ul>
  </div>
</section>
